[Desktop Entry]
Type=Application
Version=1.0
Name=Install EIGHT.ONE OS
Comment=Install EIGHT.ONE OS (Infinity One) to disk
Exec=kitty --title "Holy Install" -e sudo holy-install
Icon=system-software-install
Terminal=false
Categories=System;
